html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: $primaryTextColor;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.noWidth {
    display: contents;
}

.spacer {
    flex: 1 1 auto;
}

.badgeList {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .badge {
        color: $experienceBoxTechTextColor;
        font-size: 0.85rem;
        margin: 0.2rem 0.4rem;
        padding: 0.2rem 0.4rem;
        border-radius: 4px;
        border: 1px solid $experienceBoxTechBorderColor;
    }
}

.sectionBox {
    padding: 3rem 1.5rem;

    .container {
        max-width: 40rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sectionDataBox {
        margin-top: 2rem;
    }

    .title {
        color: $aboutTextColor;
        font-size: 2rem;
        font-weight: 700;
        margin: 0 0 1rem;
        text-transform: uppercase;
    }

    .content {
        color: $aboutTextColor;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.8rem;
        white-space: pre-line;
    }
}

@media only screen and (max-width: 40.0625em) {
    .isDesktop {
        display: none !important;
    }
}

@media only screen and (min-width: 40.0626em) {
    .isMobile {
        display: none !important;
    }
}