// GENERAL
$primaryTextColor : #677682;
$accentColor: #f2c000;
// MENU
$menuTextColor: #FFFFFF;
$menuBackgroundColor: #263238;
$menuBackgroundShadowColor: #323f46;

// SIDE MENU
$sideMenuItemTextColor: $primaryTextColor;
$sideMenuButtonIconColor: $primaryTextColor;
$sideMenuBackgroundColor: #ededed;
$sideMenuButtonBackgroundColor: #263238;

// Top Part
$topBackgroundColor: #263238;
$topBackgroundLiteColor: $accentColor;
$topTitleTextColor: #FFFFFF;
$topSubtTitleTextColor: #FFFFFF;

// About
$aboutBackgroundColor: #37474F;
$aboutTextColor: #FFFFFF;

// Experience
$experienceBackgroundColor: #263238;
$experienceBoxlineColor: $accentColor;
$experienceTextColor: #FFFFFF;
$experienceBoxTitleColor: #FFFFFF;
$experienceBoxDateColor: #CDCDCD;
$experienceBoxDescriptionColor: #FFFFFF;
$experienceBoxTechTextColor: #A0A0A0;
$experienceBoxTechBorderColor: #CDCDCD;
$experienceBoxBorderBottomColor: #919191;


// Skills
$skillsBackgroundColor: #37474F;
$skillsTextColor: #FFFFFF;
$skillBoxTitleColor: #FFFFFF;
$skillBoxTechTextColor: #F0F0F0;
$skillBoxTechBorderColor: #F0F0F0;
$skillBoxBorderColor: $accentColor;

// Portfolio
$portfolioBackgroundColor: #263238;
$portfolioTextColor: #FFFFFF;
$portfolioSectionTitleColor: $accentColor;
$portfolioBoxBackgroundColor: #182227;
$portfolioBoxTitleColor: #FFFFFF;
$portfolioBoxDateColor: #CDCDCD;
$portfolioBoxLinkColor: #FFFFFF;
$portfolioBoxLinkHoverColor: $accentColor;
$portfolioBoxDescriptionColor: #F1F1F1;
$portfolioBoxTechTextColor: #A0A0A0;
$portfolioBoxTechBorderColor: #CDCDCD;


// Contact me
$contactBackgroundColor: #F5F5F5;
$contactTextColor: $primaryTextColor;
$contactBoxIconColor: $accentColor;
$contactBoxTextColor: $primaryTextColor;
$contactBoxTextHoverColor: #000000;