@import "variables";
@import "mixins";
@import "animations";
@import "general";
@import "./components/menu";
@import "./components/head";
@import "./components/header";
@import "./components/about";
@import "./components/experience";
@import "./components/skill";
@import "./components/portfolio";
@import "./components/contact";